:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: light-dark(#ffffff, #191919);
  color: light-dark(#37352f, #d9d9d9);
  font-family: "Questrial", sans-serif;
  position: relative;
}

.estrutura {
  left: 50%;
  max-width: 960px;
  padding: 32px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.estrutura blockquote {
  margin: 0;
}

.estrutura blockquote .frase {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.2rem;
  margin-bottom: 16px;
  margin-top: 0px;
}

.estrutura blockquote .frase::before {
  color: light-dark(#37352f, #d9d9d9);
  content: "“";
  font-size: 3rem;
  font-weight: normal;
  left: 12px;
  opacity: 0.7;
  position: absolute;
  top: 24px;
}

.estrutura blockquote cite {
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
}

.estrutura blockquote cite::before {
  content: "";
  background-color: light-dark(#37352f, #d9d9d9);
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 20px;
}
