:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: light-dark(#ffffff, #191919);
  color: light-dark(#37352f, #d9d9d9);
  font-family: "Questrial", sans-serif;
}

body.dark {
  background-color: #191919;
  color: #d9d9d9;
}

body.dark #quote::before,
body.dark #author::before {
  color: #d9d9d9;
}

body.light {
  background-color: #ffffff;
  color: #37352f;
}

body.light #quote::before,
body.light #author::before {
  color: #37352f;
}

.container {
  align-items: center;
  display: flex;
  height: 310px;
  left: 50%;
  max-width: 960px;
  padding: 32px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container blockquote {
  margin: 0;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition: all 1s linear 0.2s;
}

.container.show blockquote {
  margin: 0;
  opacity: 1;
  transform: translateY(0px);
}

#quote {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.2rem;
  margin-bottom: 16px;
  margin-top: 0px;
}

#quote::before {
  color: light-dark(#37352f, #d9d9d9);
  content: "“";
  font-size: 3rem;
  font-weight: normal;
  left: -20px;
  opacity: 0.7;
  position: absolute;
  top: -8px;
}

#author {
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
}

#author::before {
  content: "";
  background-color: light-dark(#37352f, #d9d9d9);
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 20px;
}
